$base-body-font-family:                          "Ubuntu", Helvetica, Arial, sans-serif;
$base-heading-font-family:                       "Lobster", cursive, Arial, sans-serif;

$base-body-font-size:                            1.5rem;
$base-body-line-height:                          2.1rem;

//$base-heading-margin-top:                        25px !default;
$base-h1-font-size:                              2.1rem;
$base-h1-line-height:                            2.3rem;
//$base-h2-font-size:                              24px !default;
//$base-h2-line-height:                            30px !default;
//$base-h3-font-size:                              18px !default;
//$base-h3-line-height:                            24px !default;
//$base-h4-font-size:                              16px !default;
//$base-h4-line-height:                            22px !default;
//$base-h5-font-size:                              14px !default;
//$base-h5-line-height:                            20px !default;
//$base-h6-font-size:                              12px !default;
//$base-h6-line-height:                            18px !default;
//$base-list-padding-left:                         30px !default;

// TABLES

$table-striped-background:                       #757575;
$table-padding-horizontal:                       10px; 
//$table-padding-vertical:                         0.1rem;